/* Reset padrão */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
/* Scroll suave */
html {
  scroll-behavior: smooth;
}
/* header styles */
header{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.137);
    position: fixed;
    top: 0%;
    left: 0%;
    overflow-y: hidden;
}
.menu{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
nav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}
a{
    text-decoration: none;
    color: #253525;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
}
a:hover{
    transition: ease-in-out 500ms;
    color: green;
}
.box-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 100%;
    /* background-color: red; */
}
.box-buttons > button{
    width: 40%;
    height: 40%;
    border-radius: 5px;
    background-color: #349cf1;
    color: #fafafa;
    font-size: medium;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.box-buttons > button:hover{
    transition: ease-in-out 500ms;
    background-color: #349cf1c4;
}
/* padronização de todas as sections */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border: 1px solid gray;
}
main{
    display: flex;
    height: 100%;
    width: 100%;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid black; */
}
.box-left{
    text-align: left;
    margin-top: 11vh;
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.box-left h2, p{
    letter-spacing: 0.5px;
}
.box-left p{
    font-size: large;
}
.box-left > button{
    height: 9%;
    width: 60%;
    font-size: large;
     background-color: #349cf1;
    color: #fafafa;
    border-radius: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.box-left > button:hover{
    transition: ease-in-out 500ms;
    background-color: #349cf1c4;
}
.title{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffeb3b;
    box-shadow: 0px 5px 0px #d6c101;
    color: black;
}
.rigth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    border: 1px solid black;
}
/* responsividade */
@media (max-width: 900px){
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: fixed;
        left: 100%;
        top: 11vh;  
        height: 89vh;
        background-color: #fafafa;
        width: 50vw;
    }
    nav{
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
    }
    .box-buttons{
        flex-direction: column;
        height: 70%;
        width: 100%;
    }
    .box-buttons > button{
        height: 10%;
    }
    .menu-button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 50vw;
        cursor: pointer;
    }
    .menu-button:hover{
        transition: ease-in-out 500ms;
        background-color: #eeeeee;
    }
    .menu-button > div{
        width: 50px;
        height: 3px;
        background-color: #253525;
        margin: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease, margin 0.3s ease;
    }
    .welcome-section{
        height: 200vh;
    }
    main{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 100vh;
    }
    .rigth{
        height: 100vh;
        width: 100%;
    }
    .box-left{
        height: 100%;
        width: 85%;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 8px 0px #d6c101;
    }
    .box-left > button{
        height: 5%;
    }
}