# Ativar o mod_rewrite
RewriteEngine On

# Definir a base do rewrite (ajuste conforme a pasta)
RewriteBase /solidarize/Api/

# Se o arquivo ou pasta existir, não reescreve
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar tudo para index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
